.pc-icon-container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #555;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pc-icon-container img {
  width: 50px;
  height: 50px;
}